<footer class="page-footer font-small bg-dark">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="text-white">About us</a>
        </h6>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold text-white">
          <a href="#!" class="text-white">Menu</a>
        </h6>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold text-white">
          <a href="#!"  class="text-white">Contact</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <div class="row pb-3 mt-5 justify-content-center">

        <div class="mb-5 flex-center justify-content-center">
          <a class="fb-ic ml-5">
            <i class="fa fa-facebook-f fa-lg text-white mr-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg text-white mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg text-white mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  <div class="footer-copyright text-center py-3">© 2020 ZZJZBPKG
    <a href="#" class="futer-link"> </a>
    All rights reserved.
  </div>
</footer>
