<div class="heder">
  <div class="row pt-5 mb-5">
    <div class="col-lg-4 bg-light text-center"><img class="slika" src="../../../assets/download.jfif" alt=""></div>
    <div class="col-lg-4 bg-primary text-center"><h1>Header</h1></div>
    <div class="col-lg-4 bg-secondary">
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"><form class="form-inline my-2 my-lg-0 pt-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Pretraga" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraži</button>
        </form></div>
      </div>

    </div>
  </div>

</div>
